body {
    font-family: "Open Sans", sans-serf;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

header h2 {
    color: #CEC8FF;
}

h2 {
    color: #3046C5;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image:linear-gradient(to left, #325cce,
    #3076c5, #1b5c88);
    color: white;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: #035096;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD; 
}